<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derivadas</title>
    <link rel="stylesheet" href="/styles/derivadas.css">
    <link rel="shortcut icon" href="/assets/regla.png" type="image/x-icon">
    <!-- iconos -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>

<body>
    <div class="head">
        <img src="/assets/head.png" class="img_head">
        <h1>derivadas</h1>
    </div>

    <div class="header">
        <ul class="menu">
            <li><a href="/index.html">Inicio></a></li>
            <li><a href="/views/rectas.html">Rectas Paralelas y perpendiculares></a></li>
            <li><a href="/views/dominio.html">dominio y rango></a></li>
            <li><a href="">limites></a></li>
            <li><a href="/views/funcion.html">funcion compuesta></a></li>
            <li><a href="/views/derivadas.html">derivadas></a></li>
        </ul>
        <div class="bars__menu">
            <span class="line1__bars-menu"></span>
            <span class="line2__bars-menu"></span>
            <span class="line3__bars-menu"></span>
        </div>
    </div>

    <div class="hero">
        <h1>Desde la matematica</h1>
        <p>La derivada se define geométricamente como la pendiente de la recta tangente a una curva en un punto. La
            recta tangente solo intersecta la curva en un punto, mientras que la recta secante intersecta en dos o más
            puntos. Cuando el cambio en el eje x (Δx) tiende a cero, la recta secante se aproxima a la tangente. El
            cálculo del límite de la pendiente de la recta secante equivale al cálculo de la pendiente de la tangente y
            es equivalente a la definición geométrica de la derivada.</p>
        <h1>Desde la Geometria</h1>
        <p>Desde un punto de vista matemático, la derivada de una función en un punto representa la pendiente de la
            recta tangente a la gráfica de esa función en ese punto exacto.</p>
        <h1>Algunas de las figuras que introdujeron las derivadas:</h1>
        <p>-Isaac Newton: A menudo se le atribuye la invención del cálculo infinitesimal junto con Gottfried Leibniz.
            Newton utilizó el concepto de fluxiones para describir las tasas de cambio instantáneas, lo que es
            esencialmente equivalente a la derivada.</p>
        <p class="separacion_p">-Gottfried Leibniz: Al mismo tiempo que Newton, Leibniz desarrolló de forma independiente el cálculo
            infinitesimal. Introdujo la notación que utilizamos hoy en día para las derivadas (dy/dx) y estableció
            muchas de las reglas básicas del cálculo diferencial.</p>
        <h1>Como se simboliza una derivada</h1>
        <h1 class="form_h1">y <i class="ph ph-arrow-right"></i> f(x) = dy/dx</h1>
        <h1>Formulas</h1>
        <p>F(x) = k -> f'(x) = 0</p>
        <p>F(x) = x -> F'(x) = 1</p>
        <p>F(x) = x^n -> f'(x) = nx^n-1</p>
        <p>F(x) = [p(x)]^n -> f'(x) = n[p(x)^n-1 p'(x)</p>
        <p>F(x) = u(x) v(x) -> f'(x) = uv' + vu'</p>
        <p>f(x) = u(x)/v(x) -> f'(x) = vu' - uv'/(v)^2</p>

        <p class="text_ejer">Para que puedas comprender de mejor manera el tema y practirar por tu cuenta te adjuntamos
            un pdf con
            ejercicios paso apaso</p>

        <div class="con_ejer">
            <a href="/global/ejercicios_derivadas.pdf" target="_blank" class="ejer">
                <i class="ph ph-download-simple"></i>
                <p>ejercicios de dereivadas</p>
            </a>
        </div>
    </div>

    <div class="plus">
        <i class="ph-fill ph-users"></i>
    </div>

    <div class="barra">
        <p class="close_barra">x</p>
        <div class="integrantes">
            <h1>Participantes del proyecto</h1>
            <div class="integrante">
                <img src="/assets/profile-0.jpg" alt="">
                <p>Gabriel Alejandro Ayala Aguilar</p>
            </div>
            <div class="integrante">
                <img src="/assets/profile-1.jpg" alt="">
                <p>Andres Camilo Perez Silva</p>
            </div>
            <div class="integrante">
                <img src="/assets/profile-2.jpg" alt="">
                <p>Samuel Andres Usta Hernandez</p>
            </div>
            <div class="integrante">
                <img src="/assets/profile-3.jpg" alt="">
                <p>Daniel Camilo Davila Blanco</p>
            </div>
        </div>
    </div>

    <script src="/controller/derivadas.js"></script>
</body>

</html>