<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dominio y Rango</title>
    <link rel="stylesheet" href="/styles/dominio.css">
    <link rel="shortcut icon" href="/assets/regla.png" type="image/x-icon">
    <!-- iconos -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>

<body>
    <div class="head">
        <img src="/assets/head.png" class="img_head">
        <h1>Dominio y rango</h1>
    </div>

    <div class="header">
        <ul class="menu">
            <li><a href="/index.html">Inicio></a></li>
            <li><a href="/views/rectas.html">Rectas Paralelas y perpendiculares></a></li>
            <li><a href="/views/dominio.html">dominio y rango></a></li>
            <li><a href="">limites></a></li>
            <li><a href="/views/funcion.html">funcion compuesta></a></li>
            <li><a href="/views/derivadas.html">derivadas></a></li>
        </ul>
        <div class="bars__menu">
            <span class="line1__bars-menu"></span>
            <span class="line2__bars-menu"></span>
            <span class="line3__bars-menu"></span>
        </div>
    </div>

    <div class="hero">
        <p>En el dominio y rango de las funciones racionales se peude decir que la mayoria de veces son los numeros
            reales con
            exepcion de que Q debe ser diferente de 0 porque si Q=0 la funcion se hace infinita, en las funciones
            racionales lo que
            siempre va a estar retringido es el rango.</p>
        <p class="separacion_p">Ejemplo: encontrar el dominio y rango de la funcion y= 4x-2/3x+5</p>
        <p class="separacion_p">Dominio Re. excepto x= -5/3</p>
        <p class="separacion_p">3x + 5 ≠ 0</p>
        <p>3x = -5</p>
        <p>x = -5/3</p>
        <p class="separacion_p">Para calcular el rango se debe despejar x de la ecuacion original </p>
        <p class="separacion_p">Rango</p>
        <p class="separacion_p">y = 4x-2/(3x + 5)</p>

        <div class="ecuaciones">
            <div class="left">
                <p class="separacion_p">y(3x + 5) = 4x -2</p>
                <p>3xy + 5y = 4x - 2</p>
                <p>3xy -4x = -5y -2</p>
                <p>x(3y - 4) = -5y -2</p>
                <p>x = 5y - 2 / 3y - 4</p>
            </div>
            <div class="right">
                <p class="separacion_p">3y -4 ≠ 0</p>
                <p>3y ≠ 4</p>
                <p>y ≠ 4/3</p>
            </div>
        </div>

        <p class="separacion_p">Rango. R excepto X= 4/3</p>

        <p class="separacion_p">Grafica el resultado por tu cuenta en geogebra</p>

        <p class="text_ejer">Para que puedas comprender de mejor manera el tema y practirar por tu cuenta te adjuntamos un pdf con ejercicios paso a paso</p>

        <div class="con_ejer">
            <a href="/global/ejercicios_dominio_rango.pdf" target="_blank" class="ejer">
                <i class="ph ph-download-simple"></i>
                <p>ejercicios dominio y rango</p>
            </a>
        </div>
    </div>

    <div class="plus">
        <i class="ph-fill ph-users"></i>
    </div>

    <div class="barra">
        <p class="close_barra">x</p>
        <div class="integrantes">
            <h1>Participantes del proyecto</h1>
            <div class="integrante">
                <img src="/assets/profile-0.jpg" alt="">
                <p>Gabriel Alejandro Ayala Aguilar</p>
            </div>
            <div class="integrante">
                <img src="/assets/profile-1.jpg" alt="">
                <p>Andres Camilo Perez Silva</p>
            </div>
            <div class="integrante">
                <img src="/assets/profile-2.jpg" alt="">
                <p>Samuel Andres Usta Hernandez</p>
            </div>
            <div class="integrante">
                <img src="/assets/profile-3.jpg" alt="">
                <p>Daniel Camilo Davila Blanco</p>
            </div>
        </div>
    </div>

    <script src="/controller/dominio.js"></script>
</body>

</html>