<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcion Compuesta</title>
    <link rel="stylesheet" href="/styles/funcion.css">
    <link rel="shortcut icon" href="/assets/regla.png" type="image/x-icon">
    <!-- iconos -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>

<body>
    <div class="head">
        <img src="/assets/head.png" class="img_head">
        <h1>Funcion compuesta</h1>
    </div>

    <div class="header">
        <ul class="menu">
            <li><a href="/index.html">Inicio></a></li>
            <li><a href="/views/rectas.html">Rectas Paralelas y perpendiculares></a></li>
            <li><a href="/views/dominio.html">dominio y rango></a></li>
            <li><a href="">limites></a></li>
            <li><a href="/views/funcion.html">funcion compuesta></a></li>
            <li><a href="/views/derivadas.html">derivadas></a></li>
        </ul>
        <div class="bars__menu">
            <span class="line1__bars-menu"></span>
            <span class="line2__bars-menu"></span>
            <span class="line3__bars-menu"></span>
        </div>
    </div>

    <div class="hero">
        <h1>funcion compuesta</h1>

        <h3 class="compro2">Es aquella que contiene los elementos de otras funciones y se simboliza como:</h3>

        <p class="repre">f (x) o g(x) i fog</p>
        <p class="repre">f [g(x)]</p>

        <h3 class="compro2">consiste en que cada vez que encuentre x lo remplaze por los elementos de la funcion
            ejemplos.</h3>

        <p class="repre">si f(x) = x^2 + 5 y g(x) = x+1</p>

        <div class="pasos">
            <div class="paso">
                <h3>calcular f(x) o g(x)</h3>
                <div class="ecuacion_pasos">
                    <p>f (x) o g(x) = (x+1^2) + 5</p>
                    <p>f (x) o g(x) = (x)^2 + 2(x)(1) + (1)^2 + 5</p>
                    <p>f (x) o g(x) = x^2 + 2x + 1 + 5</p>
                    <p>F (x) o g(x) = x^2 + 2x + 6</p>
                </div>
            </div>
            <div class="paso">
                <h3>recuerda tener en cuenta siempre la formula:</h3>
                <p>(a+b) ^ 2 = (a) ^ 2 + 2(a)(b)</p>
            </div>
            <div class="paso">
                <h3>si f(x) = x^2 + 3x + 2 y g(x) = (x-3)</h3>
                <div class="ecuacion_pasos">
                    <p>f(x) o g(x) = (x-3)^2 + 3(x-3) + 2</p>
                    <p>f(x) o g(x) = (x)^2 -2 (x)(3) + (3)^2 + 3x - 9 + 2</p>
                    <p>f(x) o g(x) = x^2 - 6x + 9 + 3x - 7</p>
                    <p>f(x) o g(x) = x^2 - 3x + 2 </p>
                </div>
            </div>
        </div>
        <p class="compro2">te adjuntamos un pdf con algunos ejercicios y sus soluciones para que puedas practicar: </p>

        <a href="/global/ejercicios_función_compuesta.pdf" target="_blank" class="ejer">
            <i class="ph ph-download-simple"></i>
            <p>ejercicios Funcion Compuesta</p>
        </a>
    </div>

    <div class="plus">
        <i class="ph-fill ph-users"></i>
    </div>

    <div class="barra">
        <p class="close_barra">x</p>
        <div class="integrantes">
            <h1>Participantes del proyecto</h1>
            <div class="integrante">
                <img src="/assets/profile-0.jpg" alt="">
                <p>Gabriel Alejandro Ayala Aguilar</p>
            </div>
            <div class="integrante">
                <img src="/assets/profile-1.jpg" alt="">
                <p>Andres Camilo Perez Silva</p>
            </div>
            <div class="integrante">
                <img src="/assets/profile-2.jpg" alt="">
                <p>Samuel Andres Usta Hernandez</p>
            </div>
            <div class="integrante">
                <img src="/assets/profile-3.jpg" alt="">
                <p>Daniel Camilo Davila Blanco</p>
            </div>
        </div>
    </div>

    <script src="/controller/funcion.js"></script>
</body>

</html>