<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limites</title>
    <link rel="stylesheet" href="/styles/limites.css">
    <link rel="shortcut icon" href="/assets/regla.png" type="image/x-icon">
    <!-- iconos -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>

<body>
    <div class="head">
        <img src="/assets/head.png" class="img_head">
        <h1>Limites</h1>
    </div>

    <div class="header">
        <ul class="menu">
            <li><a href="/index.html">Inicio></a></li>
            <li><a href="/views/rectas.html">Rectas Paralelas y perpendiculares></a></li>
            <li><a href="/views/dominio.html">dominio y rango></a></li>
            <li><a href="/views//limites.html">limites></a></li>
            <li><a href="/views/funcion.html">funcion compuesta></a></li>
            <li><a href="/views/derivadas.html">derivadas></a></li>
        </ul>
        <div class="bars__menu">
            <span class="line1__bars-menu"></span>
            <span class="line2__bars-menu"></span>
            <span class="line3__bars-menu"></span>
        </div>
    </div>

    <div class="hero">
        <p>Los limites son los valores a los que se aproxima una funcion cuando la variable independiente R se acerca a
            un determinado
            punto, hay dos clases de limites los limites finitos y los limites infinitos</p>

        <h1 class="compro2">Propiedades de los limites</h1>

        <h3 class="compro3">suma: <p>lim(f(x) + g(x)) = lim f(x) + lim g(x)</p>
        </h3>
        <h3 class="compro3">producto: <p>lim(f(x) * g(x)) = lim f(x) * lim g(x)</p>
        </h3>
        <h3 class="compro3">Cociente: <p>lim(f(x) / g(x)) = lim f(x) / lim g(x), si lim g(x) ≠ 0 </p>
        </h3>
        <h3 class="compro3">Constante: <p>lim(c * f(x)) = c * lim (x)</p>
        </h3>

        <p class="compro2">algunos ejemplos:</p>

        <div class="pasos">
            <div class="paso">
                <div class="ecuacion_pasos">
                    <p>lim <br> x -> 1</p>
                    <p>x + 5</p>
                    <p>=</p>
                    <p>lim <br> x -> 1</p>
                    <p>+</p>
                    <p>lim 5 <br> x -> 1</p>
                </div>
            </div>
            <div class="paso">
                <p>*limite de una constante es igual a ella misma*</p>
            </div>
            <div class="paso">
                <div class="ecuacion_pasos">
                    <p>lim <br> x -> 7</p>
                    <p>(x ^ 2 - 49)/(x - 7)</p>
                    <p>=</p>
                    <p>lim / x -> 7</p>
                    <p>0/0</p>
                </div>
            </div>
            <div></div>
            <div class="paso">
                <div class="ecuacion_pasos">
                    <p>lim <br> x -> 7</p>
                    <p>=</p>
                    <p><u>(x - 7)</u>(x + 7) / <u>(x - 7)</u></p>
                    <p>=</p>
                    <p>lim <br> x -> 7</p>
                    <p>7 + 7</p>
                    <p>=</p>
                    <p>14</p>
                </div>
            </div>
            <div class="paso">
                <p>*diferencia entre cuadrados perfectos*</p>
                <p>(a ^ 2 - b ^ 2)=</p>
                <p>(√ a ^ 2 - √ b ^ 2) (√ a ^ 2 + √ b ^ 2)</p>
                <p>(a - b) (a + b)</p>
            </div>
            <div class="paso">
                <div class="ecuacion_pasos">
                    <p>lim <br> x -> 5</p>
                    <p>(x ^ 2 - 25) / x - 5</p>
                    <p>=</p>
                    <p>lim / x -> 5</p>
                    <p>0/0</p>
                </div>
            </div>
            <div></div>
            <div class="paso">
                <div class="ecuacion_pasos">
                    <p>lim <br> x -> 5</p>
                    <p>=</p>
                    <p><u>(x - 5)</u>(x + 5) / <u>(x - 5)</u></p>
                    <p>=</p>
                    <p>lim <br> x -> 5</p>
                    <p>5 + 5</p>
                    <p>=</p>
                    <p>10</p>
                </div>
            </div>
        </div>
        <p class="compro2">Para que puedas comprender de mejor manera el tema y practirar por tu cuenta te adjuntamos un
            pdf con nuestros
            apuntes y ejercicios: </p>

        <a href="/global/limites.pdf" target="_blank" class="ejer">
            <i class="ph ph-download-simple"></i>
            <p>ejercicios y notas de limites</p>
        </a>
    </div>

    <div class="plus">
        <i class="ph-fill ph-users"></i>
    </div>

    <div class="barra">
        <p class="close_barra">x</p>
        <div class="integrantes">
            <h1>Participantes del proyecto</h1>
            <div class="integrante">
                <img src="/assets/profile-0.jpg" alt="">
                <p>Gabriel Alejandro Ayala Aguilar</p>
            </div>
            <div class="integrante">
                <img src="/assets/profile-1.jpg" alt="">
                <p>Andres Camilo Perez Silva</p>
            </div>
            <div class="integrante">
                <img src="/assets/profile-2.jpg" alt="">
                <p>Samuel Andres Usta Hernandez</p>
            </div>
            <div class="integrante">
                <img src="/assets/profile-3.jpg" alt="">
                <p>Daniel Camilo Davila Blanco</p>
            </div>
        </div>
    </div>

    <script src="/controller/limites.js"></script>
</body>

</html>